/* your custom css */

.homeContainer code.hljs {
  display: inline;
}

.homeContainer .promoRow {
  padding: calc(1.5rem + 10px) 0;
}

.productShowcaseSection .disclaimer {
  font-size: 8px;
  margin-bottom: 1.5rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

header nav li:last-child a {
  width: 32px;
  height: 32px;
  background-image: url(/cats-effect/img/github.png);
  background-size: 32px 32px;
  text-indent: -9999px;
}

.productShowcaseSection .logos img {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: auto;
}
